html, body{
    /*overflow: hidden;*/
    background-color: rgba(207, 174, 123, 0.18);
    height: 100%;
}

.fl {
    float: left;
}

.fr{
    float: right;
}

.menuPage{
    background-color: rgba(207, 174, 123, 0.18);

}

.dn {display: none}

#categoryButtons div.button {
    margin-bottom: 15px;
    width: 100%;
}

.darklabel{
    position: relative;
    height: 0px;
    top: -18px;
}

.darklabel .thelabel{
    background: #000000;
    opacity: 0.8;
    height: 18px;
}

.darklabel .thedescription{
    position: relative;
    top: -17px;
    text-align: center;
    color: #f5f5f5;
    font-size: 12px;
}

#productlistView {
    padding: 10px 5px;
    margin-bottom: -1px;

}

#productlistView {
    border-style: none;
}

.productPs {
    float: left;
    position: relative;
    margin: 4px 4px;
    padding: 0;
    width: 112px;
}

#productListPager {
    border: none;
    background: none;
}

#productListPager .k-pager-sizes {
    float: right;
}


.k-listview:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.productPs .button{
    margin-left: 3px;
}

#checkoutAccordion.ui.styled.accordion .content, .ui.styled.accordion .accordion .content {
    margin: 0em;
    padding: 0.5em 1em 2px;
}

.itemCloseButton{
    margin-right: 5px !important;
}

.cartItemAttr{
    width: 65%;
}

.reds{
    color:red
}

#userDetails{
    margin-top: 10px;
    margin-bottom: 10px;
}

.theUnit{
    color: rgba(174, 175, 173, 0.96);
    font-size: 12px;
}
